<div class="py2 post-footer">
  <img src="/images/me.jpeg" alt="Ben Johnston" class="avatar" />
  <p>
    I am a designer, developer, strategist, and problem solver. I am available for projects — from UX research to full MVP development. <a href="/contact"> Shoot me an email</a> and I'll get back to you within an hour.
  </p>
  <p>
    You can find me on <a href="https://twitter.com/4lpine">Twitter</a>, <a href="https://github.com/benjohnston">Github</a>, or <a href="https://www.linkedin.com/in/johnstonbenjamin/en">LinkedIn</a>.
  </p>
</div>
