@charset "UTF-8";

@import "_svg";

.bg-pattern {
    &:after {
        box-sizing: border-box;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        overflow: hidden;
        content: '';
        z-index: -1;
        background-size: 1rem;
        // background-color: RGBA(253, 255, 247, 1);
        // little transition in case you want use a hover effect or similar, like in the demo
        -webkit-transition: background-image 0.1s ease-in-out;
        -moz-transition: background-image 0.1s ease-in-out;
        -ms-transition: background-image 0.1s ease-in-out;
        -o-transition: background-image 0.1s ease-in-out;
        transition: background-image 0.1s ease-in-out;
        @media #{$breakpoint-md} {
            background-size: 1.85rem;
        }
    }
    // the class 'over-img' is used when you have to put the pattern over a picture, it makes also the pattern more transparent
    &.over-img {
        &:after {
            opacity: 0.2;
            z-index: 0;
        }
    }
    // the class 'mirror' will mirror the pattern horizontally
    /*&.mirror {
        &:after {
            trasform: rotateY(180deg);
        }
    }*/
}

.bg-pattern {
    position: relative;
    z-index: 1;
}

a.bg-pattern:hover:after {
    // background-image: $tri-diag;
    -webkit-transition: background-size 0.1s ease-in-out;
    -moz-transition: background-size 0.1s ease-in-out;
    -ms-transition: background-size 0.1s ease-in-out;
    -o-transition: background-size 0.1s ease-in-out;
    transition: background-size 1.1s ease-in-out;
    background-size: 13.3rem;
    // box-shadow: 0 0 0px 8px rgba(0, 0, 0, 0.25);
}

// Patterns

.crazy {
    &:after {
        background-image: $crazy;
    }
}

.sacrd {
    &:after {
        background-image: $sacrd;
    }
}

.pent-light {
    &:after {
        background-image: $pent-light;
    }
}

.sacred-1 {
    &:after {
        background-image: $sacred-1;
    }
}

.pyramid {
    &:after {
        background-image: $pyramid;
    }
}

.tri {
    &:after {
        background-image: $tri;
    }
}

.triangles {
    &:after {
        background-image: $triangles;
    }
}

.blocks {
    &:after {
        background-image: $blocks;
    }
}

.grid-diag {
    &:after {
        background-image: $grid-diag;
    }
}

.circles-7 {
    &:after {
        background-image: $circles-7;
    }
}
.circles-8 {
    &:after {
        background-image: $circles-8;
    }
}
.circles-9 {
    &:after {
        background-image: $circles-9;
    }
}

.diagonal-stripe-4 {
    &:after {
        background-image: $diagonal-stripe-4;
    }
}

.diagonal-stripe-5 {
    &:after {
        background-image: $diagonal-stripe-5;
    }
}

.tri-diag {
    &:after {
        background-image: $tri-diag;
    }
}

.zig {
    &:after {
        background-image: $zig;
    }
}

.squig {
    &:after {
        background-image: $squig;
    }
}

.wav {
    &:after {
        background-image: $wav;
        background-repeat: repeat;
    }
}

.round {
    &:after {
        background-image: $round;
    }
}

.horizontal-stripe-5 {
    &:after {
        background-image: $horizontal-stripe-5;
    }
}


.h-lines-bold {
    &:after {
        background-image: $h-lines-bold;
    }
}

.h-lines-medium {
    &:after {
        background-image: $h-lines-medium;
    }
}

.h-lines-light {
    &:after {
        background-image: $h-lines-light;
    }
}

.o-lines-bold {
    &:after {
        background-image: $o-lines-bold;
    }
}

.o-lines-medium {
    &:after {
        background-image: $o-lines-medium;
    }
}

.o-lines-light {
    &:after {
        background-image: $o-lines-light;
    }
}

.cross-bold {
    &:after {
        background-image: $cross-bold;
    }
}

.cross-medium {
    &:after {
        background-image: $cross-medium;
    }
}

.cross-light {
    &:after {
        background-image: $cross-light;
    }
}

.cross-bold-thin {
    &:after {
        background-image: $cross-bold-thin;
    }
}

.cross-medium-thin {
    &:after {
        background-image: $cross-medium-thin;
    }
}

.cross-light-thin {
    &:after {
        background-image: $cross-light-thin;
    }
}

.candy-bold {
    &:after {
        background-image: $candy-bold;
    }
}

.candy-medium {
    &:after {
        background-image: $candy-medium;
    }
}

.candy-light {
    &:after {
        background-image: $candy-light;
    }
}
