#picture-your-prosperity img{
  border: 1rem solid #16BD92;
}

.project-sum {
  float: right;
}

.post-content img{
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.post-content h4{
  font-size: 1.5rem;
  margin-top: 0.2rem;
}

