<!DOCTYPE html>
<html>
{% include head.html %}
<body class="{% if site.animated %}animated fade-in-down{% endif %}">
  <div class="site-wrap">
    {% include header.html %}
    <header class="about center white px3 py4 mt2"
  style="background-image: url(/images/me.jpg)">
  <h1 class="h2">Hello, my name is Ben.</h1>

</header>

    <div class="post p2 p-responsive wrap" role="main">
      <div class="measure">
        {{ content }}
      </div>
    </div>
  </div>

  {% include footer.html %}
</body>
</html>
